* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #d7c0ae;
  font-family: sans-serif;
}
.container {
  background-color: #967e76;
  max-width: 400px;
  padding: 20px 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.heading__login {
  color: #fff;
  text-align: center;
  font-size: 22px;
  margin-bottom: 15px;
}

label {
  color: #fff;
  margin-bottom: 5px;
  display: inline-block;
  font-size: 10px;
  width: 100%;
}

input {
  display: inline-block;
  margin-bottom: 5px;
  background-color: transparent;
  border: none;
  font-size: 14px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.842);
  color: #fff;
  padding: 5px 8px;
  transition: all 0.1s;
  width: 100%;
  height: 30px;
}

input::placeholder {
  color: #fff;
}

input:focus {
  /* border: 1px solid red; */
  outline: none;
  box-shadow: 0px 1px 0px #fff;
  font-size: 12px;
  border: none;
}

.opacity {
  opacity: 0;
}

.btn {
  border: none;
  background-color: transparent;
  padding: 5px 8px;
  margin-top: 10px;
  background-color: #78dec7;
  color: #fff;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
}

.error__message {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon__username,
.icon__password {
  cursor: pointer;
}
