.container {
  max-width: 600px;
  margin: auto;
}

.current--menu {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.icon--rotate {
  transform: rotate(180deg);
}

.list__menu span {
  display: block;
  cursor: pointer;
}

.hidden {
  display: none;
}
